/* Texto em parágrafos */
html {
	background-color: #000000;
}

a, input {
	color: yellow;
	text-decoration: none;
}


p {
	color: white;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 2px;
}


.manual {
	color: rgb(255, 255, 0);
	text-align: left;
	margin-top: 6px;
	margin-bottom: 12px;
}

/* FORMATAÇÃO DOS LAYERS DO CANVAS */
.container {
	position: relative;
	width:  950px;
	height: 500px
}

.layer0 {
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	background-color: white;
}

.layer1 {
	position: absolute;
	z-index: 2;
	left: 0px;
	top: 0px;
}

.layer2 {
	position: absolute;
	z-index: 3;
	left: 0px;
	top: 0px;
	cursor: crosshair;
}

.layer3 {
	position: absolute;
	z-index: 3;
	left: 0px;
	top: 0px;
	cursor: crosshair;
}


/* FIM DA FORMATAÇÃO DOS LAYERS DO CANVAS */


.contador {
	color: white;
	text-align: center;
	margin-top: 1px;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

.contador2 {
	color: white;
	text-align: center;
	margin-top: 1px;
	margin-bottom: 3px;
	letter-spacing: -1px;
}

.conta-passos {
	color: white;
	text-align: center;
	margin-top: 1px;
	margin-bottom: 5px;
	letter-spacing: -1px;
}


H4 {

	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Verdana;
	font-size: 8pt;
}

H5 {

	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Verdana;
	font-size: 7pt;
}


.ControlsTitle
{
	color: #32CD32;
}

.ToolsTitle
{
	color: #ff8c00;
}

.BackgroundToolsTitle
{
	color: #e5ff00;
}

.CommandTitle
{
	color: #00BFFF;
}


.MsgLine {
	color: rgb(255, 255, 4);
	background-color: Black;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 2px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
}

.MsgDiv {
	position: absolute;
	display: block;
	width: 900px;
	top: 300px;
	left: 35px;
	z-index: 100;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 8pt;
	border: solid 4px Red;

}




/* DIV DA FUNÇÃO DE EMNOTICONS */
.EmoTab {
	position: absolute;
	display: block;
	top: 75px;
    left: 35px;
	z-index: 90;
	color: Red;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 8pt;
	border: solid 4px #fb9e25;
}


.content {
	width: 500pt;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 7px;
	text-align: center;
	background-color: black;
	overflow-wrap: break-word;
}

.EMC  { /* BOTÕES CRIADOS PELO TM_PRINCIPAL */
	color: #ff8c00;
	margin: 4px;
	font-size: 14pt;
}

.EmoBox {
	height: 12px;
	line-height: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.EmoBox2 {
	color: #ff8c00;
	height: 12px;
	line-height: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* FIM - DIV DA FUNÇÃO DE EMNOTICONS */



/* BOTÃO DO COLOR PICKER */
.input-color-container {
	position: relative;
	overflow: hidden;
	width: 60px;
	height: 18px;
	border: solid 2px #ff8c00;
	border-radius: 20px;
	margin-left: 15px;
}

.input-color {
	position: absolute;
	right: -9px;
	top: -9px;
	width: 80px;
	height: 35px;
	border: none;
}

/* FIM DO BOTÃO DO COLOR PICKER */


/* ROTAÇÃO DO SLIDER   BigSlider  */
input[type=range] {
	width: 80px;
	top: 5px;
	bottom: 5px;
 }



/* Parte interna de tabelas */
TD {
	text-align: center;
	BORDER: 1;
}

font {
	face: Verdana;
	size: 10pt;
	color: white;
}


form {
	font: Verdana;
	font-size: 8pt;
	color: #ff8c00;
	padding: 0px;
	margin: 0px;
	border: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;

}



input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -moz-transform: scale(.7); /* FF */
  -webkit-transform: scale(.7); /* Safari and Chrome */
  -o-transform: scale(.7); /* Opera */
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 70%;
  display: inline;
}





/* ==
   == BOTÃO INPUT FILE 
   == 
*/
#files {
	position: relative;
	overflow: hidden;
}

#files input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.001
}


.BTimg {
	height: 18px;
	width: 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font: Verdana;
	font-size: 12pt;
	color: #ff8c00;
	background-color: black;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}


/* ==
   == BOTÃO PEQUENO DE TEXTO
   == 
*/
.btaction {
	-moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	box-shadow: inset 0px 1px 0px 0px #fce2c1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color: #ffc477;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
	text-indent: 0;
	border: 1px solid #eeb44f;
	display: inline-block;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	height: 12px;
	line-height: 11px;
	width: 13px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #cc9f52;
}

.btaction:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background: -moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color: #fb9e25;
}

.btaction:active {
	position: relative;
	top: 1px;
}

/* This button was generated using CSSButtonGenerator.com */






/* ==
   == BOTÃO GRANDE DE TEXTO
   == 
*/
.btgrande {
	-moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	box-shadow: inset 0px 1px 0px 0px #fce2c1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color: #ffc477;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	text-indent: 0;
	border: 1px solid #eeb44f;
	display: inline-block;
	color: #000000;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	height: 11px;
	line-height: 11px;
	width: 55px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #cc9f52;
	margin: 1px;
	right: 3px;
}

.btgrande:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background: -moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color: #fb9e25;
}

.btgrande:active {
	position: relative;
	top: 1px;
}

/* This button was generated using CSSButtonGenerator.com */





/* ==
   == BOTÃO GRANDE PADRÃO DE AÇÃO  (http://css3button.net/)
   == 
*/
.btinvert {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ff8c00;
	padding: 0px 0px;
	background: -moz-linear-gradient(top,
		#000000 0%,
		#0a0a0a);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#000000),
		to(#0a0a0a));
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 0px solid #080808;
	-moz-box-shadow:
		0px 0px 0px rgba(000, 000, 000, 0),
		inset 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000, 000, 000, 0),
		inset 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow:
		0px 0px 0px rgba(000, 000, 000, 0),
		inset 0px 0px 0px rgba(0, 0, 0, 0);
	text-shadow:
		0px -1px 0px rgba(000, 000, 000, 0.4),
		0px 1px 0px rgba(255, 255, 255, 0.3);
}




/* ==
   == BOTÃO MÉDIO DE TEXTO
   == 
*/
.btmedio {
	-moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	box-shadow: inset 0px 1px 0px 0px #fce2c1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color: #ffc477;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
	text-indent: 0;
	border: 1px solid #eeb44f;
	display: inline-block;
	color: #000000;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	height: 11px;
	line-height: 11px;
	width: 35px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #cc9f52;
}

.btmedio:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background: -moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color: #fb9e25;
}

.btmedio:active {
	position: relative;
	top: 1px;
}

/* This button was generated using CSSButtonGenerator.com */





/*            R E F E R Ê N C I A S
              =====================

https://www.hostinger.com.br/tutoriais/diferenca-entre-estilos-css/#gref 

https://developer.mozilla.org/pt-BR/docs/Aprender/Getting_started_with_the_web/CSS_basico

*/